<% if false%>
  <form action="/users" method="post" accept-charset="UTF-8">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="username">Username:</label>
    <input type="text" id="username" name="user[username]">
    <label for="email">Email:</label>
    <input type="email" id="email" name="user[email]">
    <label for="password">Password</label>
    <input id="password" type="password" name="user[password]">
    <input type="Submit" value="new">
  </form> 
<%end%>


<%if false%>
  <%= form_tag "/users", method: "post" do %>
    <%= label_tag 'username', 'Username: '%>
    <%= text_field_tag 'username', 'Enter your username'%>
    <%= label_tag 'email', 'Email: ' %>
    <%= email_field_tag 'email', 'email@example.com' %>
    <%= label_tag 'password'%>
    <%= password_field_tag 'password'%>
    <%= submit_tag 'Submit' %>
  <%end%>
<%end%>

<%= form_for @user do |f| %>
  Username: <%= f.text_field :username, placeholder: 'Enter your username here'%><br>
  <%if @user.errors[:username].any?%>
    <%@user.errors[:username].each do |error| %>
        <li style="color: #e74c3c; padding: .5em 0;"><%="Username " + error%></li>
    <%end%>
  <%end%>

  Email : <%= f.email_field :email, placeholder: 'example@example.com'%><br>
  <%if @user.errors[:email].any?%>
    <%@user.errors[:email].each do |error| %>
        <li style="color: #e74c3c; padding: .5em 0;"><%="Email " + error%></li>
    <%end%>
  <%end%>

  Password : <%= f.password_field :password %><br>
  <%if @user.errors[:password].any?%>
    <%@user.errors[:password].each do |error| %>
        <li style="color: #e74c3c; padding: .5em 0;"><%="Password " + error%></li>
    <%end%>
  <%end%>
  
  <%= f.submit %> 
<% end %>

